 * {
     margin: 0px;
     padding: 0px;
     font-family: Alkatra;
 }

 .container {

     position: relative;
     width: 100%;
     height: 100vh;
     background-color: white;
 }

 nav {
     display: flex;
     width: 84%;
     margin-left: 100px;
     margin-top: -40px;
     align-items: center;
     justify-content: space-between;
 }

 nav .logoo {
     width: 180px;
     border-radius: 50%;
 }

 nav ul li {
     display: inline-block;
     list-style: none;
     margin-top: 10px;
     margin-right: 20px;
 }

 nav ul li a {
     text-decoration: none;
     color: black;
     font-weight: bold;
 }

 /*pseudo class  */
 /* selector:pseudo-class name{property:value} */
 nav ul li a:hover {
     color: red;
 }

 .title {
     margin-left: 8%;
     margin-top: 13%;
 }

 .title h1 {
     font-size: 50px;
     color: black;
     margin-bottom: 20px;
 }

 .title span {
     color: blue;
 }

 .title p {
     color: #555;
     line-height: 22px;
 }

 .title a {
     background: black;
     padding: 10px, 18px;
     text-decoration: none;
     color: white;
     font-weight: 500;
     display: inline-block;
     margin-top: 30px;
     border-radius: 2px;
     width: 120px;
     text-align: center;
 }

 .images {
     width: 45%;
     height: 80%;
     position: absolute;
     bottom: 0;
     right: 30px;
 }

 .images img {
     height: 100%;
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translateX(-50%);
     transition: bottom 2s, left 2s;


 }

 .images:hover .shape {
     bottom: 30px;

 }

 .images:hover .mypic {
     left: 40%;
 }

 #about {
     margin-left: 8%;
     margin-top: 13%;
     margin-right: 8%;
 }

 .heading {
     text-align: center;
 }

 .heading h2 {
     font-size: 30px;
     color: green;
 }

 .heading span {
     font-size: 20px;
     color: blue;

 }


 .about-content {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 32px;
     margin-top: 32px;
 }

 .about-img img {
     width: 90%;
     height: 80%;
     border-radius: 5px;

 }

 .about-text {
     font-weight: 400px;
     text-align: justify;
 }

 .informations {
     margin-top: 10px;
 }

 .informations .info-box {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }

 .informations .info-box span {
     font-weight: 400px;
     margin-left: 10px;

 }

 html {
     scroll-behavior: smooth;
 }

 #skills {
     margin-left: 8%;
     margin-top: 8%;
     margin-right: 8%;
 }

 .skill-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     gap: 2rem;
     margin-top: 70px;

 }

 .skill-image img {
     width: 90%;
     object-position: center;
     padding-left: 2rem;
     margin-top: 70px;


 }

 .bar-box {
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 0;
     margin-bottom: 1rem;
 }

 .bar-box h3,
 span {
     font-size: 1.1 rem;
     font-weight: 500;
 }

 .light-bar {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: .5rem;
     background-color: black;
     border-radius: 0.5rem;
 }

 .percent-bar {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 0.5rem;
     background-color: blue;
     border-radius: 0.5rem;

 }

 .html-bar {
     width: 96%;
 }

 .Bootstrap-bar {
     width: 92%;
 }

 .Css-bar {
     width: 94%;
 }

 .Javascript-bar {
     width: 90%;
 }

 #contact {
     margin-left: 8%;
     margin-top: 8%;
     margin-right: 8%;
 }

 .iconDiv {

     margin-top: 5%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .icon {
     width: 50px;
     height: 50px;
     border: 1px solid;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 10px;
 }

 .icon i {
     font-size: 30px;

 }

 .icon:hover {
     background-image: linear-gradient(to right, rgba(87, 17, 153, 0), rgb(32, 67, 221));

 }

 .icon i:hover {
     color: aliceblue;
 }

 #cpy {
     text-align: center;
     margin-top: 2rem;
 }

 footer {
     margin-top: 2rem;
 }

 .up-arrow {
     float: right;
     margin: 1rem 2rem;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: linear-gradient(to right, rgba(87, 17, 153, 0), rgb(32, 67, 221));

 }

 ::-webkit-scrollbar {
     width: 10px;

 }

 ::-webkit-scrollbar-track {
     background-color: white;
 }

 ::-webkit-scrollbar-thumb {
     background-color: gold;
     border-radius: 10px;
 }